In [1]:
#librerias a usar
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#cargar archivo csv
data = pd.read_csv('Ventas_totales.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         59 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      64 non-null     float64
 9   tarjetas_credito                     58 non-null     float64
 10  otros_medios                         64 non-null     float64
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    55 non-null     float64
 13  bebidas                              64 non-null     float64
 14  almacen                              63 non-null     float64
 15  panaderia                            64 non-null     float64
 16  lacteos                              64 non-null     float64
 17  carnes                               64 non-null     float64
 18  verduleria_fruteria                  64 non-null     float64
 19  alimentos_preparados_rotiseria       64 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  63 non-null     float64
 22  electronicos_articulos_hogar         62 non-null     float64
 23  otros                                61 non-null     float64
dtypes: float64(23), object(1)
memory usage: 12.3+ KB

In [3]:
#identificar valores nulos por columna
valores_nulos = data.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [4]:
#Realizamos una copia del data frame
data2 = data.copy()

**Sustituir nulos de salon_ventas**<br>
Para sustituir los valores nulos de salon_ventas ocupe la "Sustitución con la mediana", ya que salon_ventas <br>
tenia registros de tipo float64.

In [5]:
#Sustituir valores nulos con la mediana 
data2['salon_ventas'] = data2['salon_ventas'].fillna(round(data['salon_ventas'].median(),2))
valores_nulos = data2.isnull().sum()
#verificamos que no haya valores nulos
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

Sustituir nulo de tarjetas_debito
Para sustituir los valores nulos de tarjetas_debito ocupe la "Sustitución con promedio".

In [6]:
#Sustituir valores nulos con promedio 
data2['tarjetas_debito'] = data2['tarjetas_debito'].fillna(round(data['tarjetas_debito'].mean(),2))
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

**Sustituir nulos de tarjetas_credito**<br>
Para sustituir los valores nulos de tarjetas_credito ocupe "backward fill". <br>

In [7]:
#Sustituir valores nulos por valores no nulos hacia atras "backward fill"
#filtro por columna
data2['tarjetas_credito'] = data2['tarjetas_credito'].fillna(method='bfill')
valores_nulos = data2.isnull().sum()
valores_nulos

C:\Users\joker\AppData\Local\Temp\ipykernel_23684\2316331475.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2['tarjetas_credito'] = data2['tarjetas_credito'].fillna(method='bfill')

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

**Sustituir nulos de otros_medios**<br>
Para sustituir los valores nulos de otros_medios ocupe "foward fill".<br>
ya que el valor a sustituir solo era uno.

In [8]:
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill"
#filtro por columna
data2['otros_medios'] = data2['otros_medios'].fillna(method='ffill')
valores_nulos = data2.isnull().sum()
valores_nulos

C:\Users\joker\AppData\Local\Temp\ipykernel_23684\2468409091.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2['otros_medios'] = data2['otros_medios'].fillna(method='ffill')

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            0
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         0
tarjetas_credito                        0
otros_medios                            0
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

**Sustituir nulos de subtotal_ventas_alimentos_bebidas**<br>
Para sustituir los valores nulos de subtotal_ventas_alimentos_bebidas ocupe "la mediana", conservando dos decimales.<br>

In [9]:
#Sustituir valores nulos con la mediana 
data2['subtotal_ventas_alimentos_bebidas'] = data2['subtotal_ventas_alimentos_bebidas'].fillna(round(data['subtotal_ventas_alimentos_bebidas'].median(),2))
valores_nulos = data2.isnull().sum()
#verificamos que no haya valores nulos
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                1
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulo de bebidas**<br>
Para sustituir el valor nulo de bebidas ocupe "el promedio" ya que solo se sustituira un valor, conservando dos decimales.<br>

In [10]:
#Sustituir valores nulos con promedio 
data2['bebidas'] = data2['bebidas'].fillna(round(data['bebidas'].mean(),2))
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulos de almacen**<br>
Para sustituir los dos nulos de almacen ocupe "la mediana" ya que solo se sustituiran dos valores, conservando dos decimales.<br>

In [11]:
#Sustituir valores nulos con la mediana 
data2['almacen'] = data2['almacen'].fillna(round(data['almacen'].median(),2))
valores_nulos = data2.isnull().sum()
#verificamos que no haya valores nulos
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulo de panaderia**<br>
Para sustituir el valor nulo de panaderia use "backwardfill"<br>

In [12]:
#Sustituir valores nulos por valores no nulos hacia atras "backward fill"
#filtro por columna
data2['panaderia'] = data2['panaderia'].fillna(method='bfill')
valores_nulos = data2.isnull().sum()
valores_nulos

C:\Users\joker\AppData\Local\Temp\ipykernel_23684\1743633654.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2['panaderia'] = data2['panaderia'].fillna(method='bfill')

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulo de lacteos**<br>
Para sustituir el valor nulo de lacteos use "sustitución por promedio". Usando dos decimales<br>

In [13]:
#Sustituir valores nulos con promedio 
data2['lacteos'] = data2['lacteos'].fillna(round(data['lacteos'].mean(),2))
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulo de carnes**<br>
Para sustituir el valor nulo de carnes use "sustitución por promedio". Usando dos decimales<br>

In [14]:
#Sustituir valores nulos con promedio 
data2['carnes'] = data2['carnes'].fillna(round(data['carnes'].mean(),2))
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulo de verduleria_fruteria**<br>
Para sustituir el valor nulo de verduleria_fruteria use "sustitución por promedio". Usando dos decimales<br>

In [15]:
#Sustituir valores nulos con promedio 
data2['verduleria_fruteria'] = data2['verduleria_fruteria'].fillna(round(data['verduleria_fruteria'].mean(),2))
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulo de alimentos_preparados_rotiseria**<br>
Para sustituir el valor nulo de alimentos_preparados_rotiseria use "sustitución por promedio". Usando dos decimales<br>

In [16]:
#Sustituir valores nulos con promedio 
data2['alimentos_preparados_rotiseria'] = data2['alimentos_preparados_rotiseria'].fillna(round(data['alimentos_preparados_rotiseria'].mean(),2))
valores_nulos = data2.isnull().sum()
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulos de indumentaria_calzado_textiles_hogar**<br>
Para sustituir los valores nulos de indumentaria_calzado_textiles_hogar use "sustitución por mediana". Usando dos decimales<br>

In [17]:
#Sustituir valores nulos con la mediana 
data2['indumentaria_calzado_textiles_hogar'] = data2['indumentaria_calzado_textiles_hogar'].fillna(round(data['indumentaria_calzado_textiles_hogar'].median(),2))
valores_nulos = data2.isnull().sum()
#verificamos que no haya valores nulos
valores_nulos

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

**Sustituir nulos de electronicos_articulos_hogar**<br>
Para sustituir los valores nulos de electronicos_articulos_hogar use "foward fill".

In [18]:
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill"
#filtro por columna
data2['electronicos_articulos_hogar'] = data2['electronicos_articulos_hogar'].fillna(method='ffill')
valores_nulos = data2.isnull().sum()
valores_nulos

C:\Users\joker\AppData\Local\Temp\ipykernel_23684\2900729366.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2['electronicos_articulos_hogar'] = data2['electronicos_articulos_hogar'].fillna(method='ffill')

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  4
dtype: int64

**Sustituir nulos de otros**<br>
Para sustituir los valores nulos de otros use "foward fill".

In [19]:
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill"
#filtro por columna
data2['otros'] = data2['otros'].fillna(method='ffill')
valores_nulos = data2.isnull().sum()
valores_nulos

C:\Users\joker\AppData\Local\Temp\ipykernel_23684\708523025.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2['otros'] = data2['otros'].fillna(method='ffill')

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

**Para ver si la sustitución fue correcta usaremos .sum.sum para ver los valores nulos del dataframe**

In [20]:
#Identificar valores nulos por data frame
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(0)